mnnitchessclub.com, www.mnnitchessclub.com {
    encode

    handle_path /api/* {
        reverse_proxy api:8080
    }

    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}